@using WebMaze.Models.Life
@using WebMaze.DbStuff.Model.Life
@model AccidentDetailsViewModel

@{
    Layout = "~/Views/Shared/Life/_LifeLayout.cshtml";
}

@section Scripts {
    @* Latest version of Bootstrap*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
}

@{
    var parameters = new Dictionary<string, string>
{
        { "accidentId", Model.Id.ToString() },
        { "accidentCategory", Model.SelectedAccidentCategory.ToString() }
    };
}

<partial name="~/Views/Shared/Life/_Validation.cshtml" />

<div id="newContent" class="container">
    <div class="my-3">
        <ReportSection>Начальные сведения, полученные диспетчером пожарной службы</ReportSection>
        <div><strong>Дата пожара: </strong>@Model.AccidentDate.ToString("g")</div>
        <div>
            <strong>Место пожара: </strong>@Model.AccidentAddressText
        </div>
        <div><strong>Краткое описание пожара: </strong>@Model.AccidentDescription</div>
    </div>


    <div class="mb-3">
        <ReportSection>Данные, предоставленные пожарной службой (редактирование)</ReportSection>
        <ReportSection>Классификация пожара</ReportSection>

        <div><strong>Причина возгорания: </strong>@Model.FireDetailViewModel.FireCauseText</div>
        <div><strong>Класс возгорания: </strong>@Model.FireDetailViewModel.FireClassText</div>
        <div class="mb-3">
            <a class="btn btn-secondary col-md-2" id="buttonEditFireDetails" role="button"
               asp-controller="Life" asp-action="EditFireDetails" asp-route-id="@Model.Id">Изменить</a>
        </div>
    </div>

    <div class="mt-4">
        <ReportSection>Пострадавшие в происшествии</ReportSection>
        <a class="btn btn-secondary col-md-2 my-3" id="buttonAddVictim" role="button"
           asp-controller="Life" asp-action="AddEditVictim" asp-all-route-data="@parameters">Добавить</a>
        <table class="table table-striped table-secondary mb-3" id="victims">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Телесные повреждение</th>
                    <th>Экономический ущерб</th>
                    <th>Ваши действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var victim in Model.AccidentVictimsViewModel)
                {
                    <tr>
                        <td>@victim.VictimName</td>
                        <td>@victim.BodilyHarmText</td>
                        <td>@victim.EconomicLossText</td>
                        <td>
                            @{
                                parameters["victimId"] = victim.Id.ToString();
                            }
                            <a class="btn btn-secondary col-lg-4 m-3" id="buttonEditVictim" role="button"
                               asp-controller="Life" asp-action="AddEditVictim" asp-all-route-data="@parameters">Изменить</a>
                            <a class="btn btn-secondary col-lg-4 m-3" id="buttonDeleteVictim" role="button"
                               asp-controller="Life" asp-action="DeleteVictim" asp-all-route-data="@parameters">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.AccidentVictimsViewModel.Count == 0)
        {
            <p class="font-italic">
                Пострадавших нет.
            </p>
        }
    </div>

    <div class="mt-3">
        <ReportSection>Дома, уничтоженные в пожаре</ReportSection>
        <a class="btn btn-secondary col-md-2 my-3" id="buttonAddHouseDestroyedInFire" role="button"
           asp-controller="Life" asp-action="AddEditHouseDestroyedInFire" asp-all-route-data="@parameters">Добавить</a>
        <table class="table table-striped table-secondary mb-3" id="houses">
            <thead>
                <tr>
                    <th>Адреса домов, сгоревших в пожаре</th>
                    <th>Ваши действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var house in Model.HousesDestroyedInFireViewModel)
                {
                    <tr>
                        <td>@house.HouseAddressText</td>
                        <td>
                            @{
                                parameters["houseDestroyedInFireId"] = house.Id.ToString();
                            }
                            <a class="btn btn-secondary col-lg-4 m-3" id="buttonEditHouse" role="button"
                               asp-controller="Life" asp-action="AddEditHouseDestroyedInFire" asp-all-route-data="@parameters">Изменить</a>
                            <a class="btn btn-secondary col-lg-4 m-3" id="buttonDeleteHouse" role="button"
                               asp-controller="Life" asp-action="DeleteHouseDestroyedInFire" asp-all-route-data="@parameters">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.HousesDestroyedInFireViewModel.Count == 0)
        {
            <p class="font-italic">
                Сгоревших домов нет.
            </p>
        }
    </div>

    <div class="card text-white bg-dark">
        <div class="row m-3">
            <div class="col">
                Вот теперь всё правильно!
            </div>
            <div class="col">
                <a class="btn btn-secondary col-md-3" id="buttonCancelFiretDetails"
                   role="button" href="@Url.Action("ShowAccidents", "Life")">Вернуться</a>
            </div>
        </div>
    </div>
</div>

