@using WebMaze.Models.Life
@using WebMaze.DbStuff.Model.Life
@model AccidentDetailsViewModel

<partial name="~/Views/Shared/Life/_Validation.cshtml" />

<div id="newContent" class="container">
    <ReportSection>Подробности случившегося</ReportSection>
    <div class="mt-3">
        <div><strong>Дата происшествия: </strong>@Model.AccidentDate.ToString("g")</div>
        <div>
            <strong>Место происшествия: </strong>@(Model.AccidentAddressText)
        </div>
        <div><strong>Тип происшествия: </strong>@Model.AccidentCategoryText</div>
        <div><strong>Краткое описание происшествия: </strong>@Model.AccidentDescription</div>
    </div>

    <div class="mt-3">
        <ReportSection>Пострадавшие в происшествии</ReportSection>
        <table class="table table-striped mb-3" id="victims">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Телесные повреждение</th>
                    <th>Экономический ущерб</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var victim in Model.AccidentVictimsViewModel)
                {
                    <tr>
                        <td>@victim.VictimName</td>
                        <td>@victim.BodilyHarmText</td>
                        <td>@victim.EconomicLossText</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.AccidentVictimsViewModel.Count == 0)
        {
            <p class="font-italic">
                Пострадавших нет.
            </p>
        }
    </div>

    @if (Model.SelectedAccidentCategory == (int)AccidentCategoryEnum.Fire)
    {
        @*Fire *@
        <div class="mt-3">
            <ReportSection>Характеристика пожара</ReportSection>
            <div><strong>Причина возгорания: </strong>@Model.FireDetailViewModel.FireCauseText</div>
            <div><strong>Класс возгорания: </strong>@Model.FireDetailViewModel.FireClassText</div>
        </div>

        <div class="mt-3">
            <ReportSection>Дома, уничтоженные в пожаре</ReportSection>
            <table class="table table-striped mb-3" id="houses">
                <thead>
                    <tr>
                        <th>Адреса домов, сгоревших в пожаре</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var house in Model.HousesDestroyedInFireViewModel)
                    {
                        <tr>
                            <td>@house.HouseAddressText</td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.HousesDestroyedInFireViewModel.Count == 0)
            {
                <p class="font-italic">
                    Сгоревших домов нет.
                </p>
            }
        </div>
    }
    else
    {
        @*Criminal Offence *@
        <div class="mt-3">
            <ReportSection>Преступление относится к следующим статьям УК</ReportSection>
            <table class="table table-striped mt-3" id="articles">
                <thead>
                    <tr>
                        <th>Статьи УК</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var article in Model.CriminalOffenceArticlesViewModel)
                    {
                        <tr>
                            <td>@article.CriminalOffenceArticleText</td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.CriminalOffenceArticlesViewModel.Count == 0)
            {
                <p class="font-italic">
                    Преступление пока не было классифицировано.
                </p>
            }
        </div>

        <div class="mt-3">
            <ReportSection>Следующие правонарушители понесли наказание</ReportSection>
            <table class="table table-striped mt-3" id="articles">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Приговор</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var offender in Model.CriminalOffendersViewModel)
                    {
                        <tr>
                            <td>@offender.OffenderName</td>
                            <td>@offender.Verdict</td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.CriminalOffendersViewModel.Count == 0)
            {
                <p class="font-italic">
                    Правонарушители пока не были выявлены.
                </p>
            }
        </div>
    }

    <div class="card text-white bg-dark">
        @if (Model.SelectedAccidentCategory == (int)AccidentCategoryEnum.Fire)
        {
            <div class="row m-3">
                <div class="col">
                    <span>Я пожарный. Я хочу внести изменения в эти данные.</span>
                </div>
                <div class="col">
                    <a class="btn btn-secondary col-md-3" id="buttonEditFire" type="submit" role="button"
                       asp-controller="Life" asp-action="EditFire"
                       asp-route-id=@Model.Id>Изменить</a>
                </div>
            </div>
        }
        else
        {
            <div class="row m-3">
                <div class="col">
                    <span>Я полицейский. Я хочу внести изменения в эти данные.</span>
                </div>
                <div class="col">
                    <a class="btn btn-secondary col-md-3" id="buttonEditCriminalOffence" type="submit" role="button"
                       asp-controller="Life" asp-action="EditCriminalOffence"
                       asp-route-id=@Model.Id>Изменить</a>
                </div>
            </div>
        }

        <div class="row m-3">
            <div class="col">
                Ничего исправлять не нужно
            </div>
            <div class="col">
                <a class="btn btn-secondary col-md-3" id="buttonCancelAccidentDetails" role="button" href="#">Отмена</a>
            </div>
        </div>
    </div>


</div>
